<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input id="fileData" type="file">
    <button>上传logo图片</button>
    <script>
        function upload() {
            let url;
            const file = fileData.files[0];
            if (!file) return
            const formData = new FormData();
            formData.append('img', file, file.name)
            fetch('http://47.95.14.227:2333/upload', {
                body: formData,
                method: "POST"
            }).then(res => {
                return res.json()
            }).then(res => {
                url = res.url
            })
        }
        document.querySelector('button').onclick = upload
    </script>
</body>

</html>