.swiper-container {
    width: 40%;

    .swiper-pagination-bullet {
        background-color: #f90;
    }

    // border:1px solid #ccc;
}

.swiper-container img {
    width: 100%;
    height: 300px;
}